<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>О проекте</h2>
        <p>hi gain dev - это блог о программировании и его изучении.</p>
        <p>В данном блоге описывается мой опыт, а также наблюдения которые для меня интересно было бы описать и сохранить.</p>
        <p>Контент состоит из:</p>
        <ul>
          <li>своих статей;</li>
          <li>полезных на мой взгляд статей;</li>
          <li>разнообразных ссылок;</li>
          <li>рекомендаций книг, подкастов, сайтов и подходов.</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
