<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Наши главные ссылки:</h3>
        <a href="https://t.me/s/higaindev" class="btn btn-lg btn-light"><i class="fab fa-telegram"></i> Telegram Blog</a>
        <a href="https://instagram.com/higaindev" class="btn btn-lg btn-dark">Instagram</a>
        <a href="https://www.linkedin.com/company/higaindev" class="btn btn-lg btn-light">LinkedIn</a>
        <a href="https://dmytrohoi.com/send_money" class="btn btn-lg btn-dark">Donate</a>
      </div>
    </div>
  </div>
</aside>
